body {

    font-family: Arial, sans-serif;

    background-color: #f4f4f4;

    text-align: center;

    margin-top: 40px;
}

.container {

    width: 550px;

    margin: auto;

    background: white;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0px 0px 10px gray;
}

h1 {

    color: #333;
}

h2 {

    letter-spacing: 5px;

    font-size: 30px;
}

.forca {

    font-size: 30px;

    margin-bottom: 20px;

    min-height: 90px;
}

input {

    width: 50px;

    text-align: center;

    padding: 8px;
}

button {

    padding: 10px;

    margin: 5px;

    cursor: pointer;
}

#mensagem {

    font-size: 22px;

    margin-top: 20px;
}